.image{
    width: 100%;
    height: 25rem;
    background-color: antiquewhite;
}
.content-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    font-weight: 1000;
}
.about-con{
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 1.1rem;
}
.about-h5{
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    font-weight: 800;

}