/* @import url(./style.css); */
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Bruno+Ace+SC&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");

body {
  background: #1f1f1f;
}

header {
  z-index: 4;
}

#title {
  z-index: 6;
  background: #1d1e22;
  text-align: center;
  margin-top: 9rem;
  color: white;
}

.image {
  width: 100%;
  height: 25rem;
  background-color: antiquewhite;
}

.content-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: underline;
  font-weight: 1000;
  color: black;
}

.content-h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.about-con {
  padding-left: 8rem;
  padding-right: 8rem;
  margin-top: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
  color: black;
}

.about-h5 {
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
  font-style: italic;
  font-weight: 800;
}

.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  width: 2px;
  top: 10px;
  bottom: 5rem;
  background: #fff;
  z-index: 1;
}

.timeline {
  position: relative;
  margin: 50px auto;
  width: 1000px;
  padding: 50px 0;
  background: #1d1e22;
  color: #fff;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  box-sizing: border-box;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 40px 30px;
}

.timeline ul li .right_content h2 {
  color: red;
  padding: 0px 2px 18px 0px;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.left_content {
  margin-right: 1rem;
  padding-bottom: 20px;
}

.right_content {
  display: grid;
  margin-left: 1rem;
  padding-bottom: 20px;
}

.right_content img {
  justify-self: center;
  border-radius: 10px;
}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(59, 112, 239, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2);
  right: -6px;
  top: 24px;
  z-index: 1;
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(59, 112, 239, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2);
  left: -4px;
  top: 24px;
}

.timeline ul li:nth-child(odd) .left_content {
  position: absolute;
  top: 12px;
  right: -250px;
  margin: 0;
  padding: 8px 16px;
  color: #fff;
  box-shadow: 0 0 0 3px rgba(59, 112, 239, 0.3);
  border-radius: 18px;
}

.timeline ul li:nth-child(even) .left_content {
  position: absolute;
  top: 12px;
  left: -250px;
  margin: 0;
  padding: 8px 16px;
  color: #fff;
  box-shadow: 0 0 0 3px rgba(59, 112, 239, 0.3);
  border-radius: 18px;
}

.found {
  background-color: white;
}

.founders {
  display: grid;
  padding: 5vw 20vw 10vw 20vw;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  color: black;
  width: 100%;
  text-align: center;
}

.founders a {
  text-decoration: none;
  color: black;
}

.fpic p {
  color: #1f1f1f;
}

.fpic img {
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .timeline {
    width: 100%;
  }
  .timeline:before {
    left: 20px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
  }

  .timeline ul li:nth-child(odd):before {
    top: -18px;
    left: 16px;
  }
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .left_content,
  .timeline ul li:nth-child(even) .left_content {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}
