@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Lilita+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Bruno+Ace+SC&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}

.background-img {
  display: block;
  width: 100vw;
  height: 50vh;
}

.con1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 50vh;
  margin-left: 25vw;
  margin-top: 5vh;
  /* border: 4px solid black; */
  /* border-radius: 10px; */
  /* font-family: "Kaushan Script", cursive; */
  font-size: 25px;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 35px;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 25vh;
  width: 40vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 5vh;
}

.p {
  text-align: center;
  margin-right: 25px;
}

.p a {
  text-decoration: none;
}

.socials-1 {
  margin-top: 1vw;
  display: inline-flex;
  height: 10vh;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 8vh;
  padding: 20px;
  background-color: black;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-card {
  margin-inline: 1rem;
}

footer ul {
  list-style: none;
}

footer a {
  color: grey;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.fa {
  margin-inline: 0.3rem;
}

.footer-links {
  color: grey;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .con1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .con1 {
    font-size: 15px;
  }

  .footer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .footer .footer-services {
    position: relative;
    left: -10vw;
  }

  .footer .footer-company {
    position: relative;
    left: -17vw;
  }
  .footer .main-office-gmap {
    position: relative;
  }

  .con1 {
    width: 80vw;
    position: relative;
    left: -17vw;
  }
}
