@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Lilita+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bruno+Ace+SC&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap');

 *{
    margin: 0;padding: 0;
}

.background-img{
    display: block;
    width: 100vw;
    height: 50vh;
}

.con1{
    display: inline-block;
    position: relative;
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5vh;
    /* border: 4px solid black; */
    /* border-radius: 10px; */
    font-family: "Kaushan Script", cursive;
    font-size: 25px;


    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 35px;
}
}

.details{
    display: inline-flex;
    height: 25vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
    margin-top: 5vh;

}
.details p{
    margin-top: 8vh;
    margin-left: 11vw;
}
.socials{
    display: inline-flex;
    height: 10vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    align-content: center;

    
}
.socials .fa{
    margin-left: 3vw;


}

