@import url(./style.css);

/* main{
  /* background: linear-gradient(to bottom, lightblue, white); */
  
/* } */ 

#title {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}

#event {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.pixelstalk.net/wp-content/uploads/images6/Night-Sky-Wallpaper-Desktop.jpg");
  padding-bottom: 50px;
  /* background-color: rgb(56, 49, 49); */

}
/* .img-background{
  width: 100%;
  height: 30rem;
} */

#first {
  padding: 20px;
  text-align: center;
  border: none;
}

.venue {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

#col-1{
    text-align: left;
}

#col-2{
    text-align: center;
}

.schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

#sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.indias-biggest-drone{
  font-size: 3rem;
  color: white ;
}
.indias-biggest-drone1{
  font-size: 8rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem gray;
  border-radius: 4rem;
  font-family: 'Kanit', sans-serif;
  color: white ;
}
.content{
  margin-top: 5rem;
  color: white  ;
  padding-left: 7rem;
  padding-right: 7rem;
  font-size: 1.3rem;
}
.para12
{
  font-weight: 900;
}
.join1{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
}
.join-a{
  /* text-decoration: none; */
  color: red;
}
.venue1{
  background-image: url(https://media.istockphoto.com/id/1412583447/vector/beautiful-starry-sky-background-illustration.jpg?s=612x612&w=0&k=20&c=1-FAYSZUNJLuxO2w45lvI3dk2qONdCWsGzklgNu2wiw=);
  color: white  ;
}
#col-1{
  color: white;
}
#col-2{
  color: white;
}
.main123{
  display: flex;
  justify-content: space-evenly;
  
}
.heading{
  display:flex ;
  justify-content: center;
  align-items: center;
  
}
.heading-h2{
  font-size:3rem;
  font-family: 'Kanit', sans-serif;
}
.venue3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.venue311{
  width: 20rem;
  
}
.venue789{
  font-size: 2.5rem;
}