@import url(./style.css);

#title {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}

#events {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#first {
  padding: 20px;
  text-align: center;
  border: none;
}

.venue {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

#col-1{
    text-align: left;
}

#col-2{
    text-align: center;
}

.schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

#sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
  margin-top: 8vh;
  padding: 20px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}


.footer-card {
  margin-inline: 1rem;
}

footer ul {
  list-style: none;
}

footer a {
  color: grey;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.fa {
  margin-inline: 0.3rem;
}

.footer-links {
  color: grey;
}

.socials {
  position: relative;
  left: 3vw;
  bottom: 2vh;
}

#copy {
  position: relative;
  right: 3vw;
  bottom: 2vh;
}
