@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Lilita+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Bruno+Ace+SC&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");
/* @import url(./style.css); */

/* 
body{
    font-family: "Fjalla One", sans-serif;
} */

.head{
  width: 100%;
  padding-block: 10rem;
  background: url('./../img/ind_drone.png');
  background-position: 100% 40%;
  background-size: cover;
}

.block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 10vh;
  width: 100vw;
}

.block p {
  display: block;
  width: 70vw;
  margin-top: 3vh;
}

.block2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 10vh;
}

.block2 h2 {
  position: relative;
  transform: translateX(15vw);
}
.contain {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10vh;
  width: 75vw;
  position: relative;
  left: 15vw;
}
.contain img {
  height: 35vh;
  position: relative;
  top: -1vh;
  right: 10px;
}

.block3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 10vh;
  width: 70vw;
  position: relative;
  left: 15vw;
}

.block4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 10vh;
  width: 70vw;
  position: relative;
  margin-left: 15vw;
}

.block4-1 {
  width: 32rem;
  height: 18rem;
}

#getintouch {
  position: relative;
  top: 3vh;
  left: 47vw;
}

main h1 {
  font-family: "Bruno Ace SC", cursive;
}
main h2 {
  font-family: "Bruno Ace SC", cursive;
}

footer {
  margin-top: 8vh;
  padding: 20px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-card {
  margin-inline: 1rem;
}

footer ul {
  list-style: none;
}

footer a {
  color: grey;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.fa {
  margin-left: 1vw;
}

.footer-links {
  color: grey;
}

#socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 20px 50px;
  width: 100%;
  background-color: black;
}

#socials a {
  text-decoration: none;
}
