@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Bruno+Ace+SC&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");
@import url(./style.css);

main{
    background-image: url('../img/pexels-jeshootscom-442589.jpg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-top: 10vh;
}

.mission{
    font-size: 2rem;
    text-align: center;
    font-family: "Bruno Ace SC", cursive;
}
