@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Lilita+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Bruno+Ace+SC&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.webName {
  margin-right: 20vw;
  font-weight: 1000;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: "Courier New", Courier, monospace;
}

.navbar-nav {
  margin-left: 28vw;
  /* font-family: "Fjalla One", sans-serif; */
  font-family: nobel, sans-serif;
}
.nav-item {
  margin-left: 2vw;
}

#get-in-touch {
  transition: 0.5s;
}

#get-in-touch:hover {
  background-color: #ffc107;
  border: none;
  color: black;
}

.carousel-inner {
  height: 60vh;
}

.item,
.carimg {
  height: 100% !important;
  width: 100% !important;
  border: 1px solid red;
}

.carimg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 40rem;
  margin: 0 auto;
}

.carousel-caption {
  display: inline-block;
  position: relative;
  min-width: 100%;
  height: 40rem;
  margin: 0 auto;
  z-index: 8;
  transform: translateX(-15%);
  font-weight: 400;
}

.carbut {
  height: 5vh;
  width: 12vw;
  border-radius: 10px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
}

#gif-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./../img/dbef8f13932f8cee5697ef88df48ff33.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 70%;
  width: 100%;
  height: 500px;
}

button:hover {
  transform: scale(1.1);
}

.heading {
  font-size: 25px;
  position: relative;
  top: 5vh;
}

.services {
  display: inline-flex;
  height: 40vh;
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 10vh;
}
.services img {
  height: 20vh;
}

.serbut {
  height: 5vh;
  width: 10vw;
  border-radius: 10px;
  border: 3px solid rgb(102, 102, 168);
  background-color: white;
  position: relative;
  top: -3vh;
  left: 18%;
}

.serbut a {
  text-decoration: none;
}

.industrial {
  margin-top: 10rem;

  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("./../img/d29b5bec682f9f0e608fd63c999609a2.gif");
  background-position: 100% 55%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: whitesmoke;
  /* padding-block-start: 5rem; */
}

.industrial-solutions {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.ind-item p {
  text-align: center;
}

.left-industrial-inner {
  margin: 3rem;
}
.fa:hover {
  transform: scale(2);
}
.ind-item p {
  margin-top: 2rem;
}
.ind-item i {
  position: relative;
  left: 2vw;
  transform: scale(2);
}

.card:hover {
  transform: scale(1.2);
}

.sptlgt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 1rem 0.5rem lightblue;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 6rem;
}

.spotlight {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  margin: 0 10vw 0 10vw;
}

.spotlight img{
  border-radius: 20px;
}

.container h2{
  text-align: center;
}

/* -------------------- FOOTER ------------------- */

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 8vh;
  padding: 20px;
  background-color: black;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.foo .footer-card {
  margin-inline: 1rem;
}

footer ul {
  list-style-type: none;
}

footer a {
  color: grey;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.fa {
  margin-inline: 0.3rem;
}

.footer-links {
  color: grey;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  width: 100%;
}

.socials .fa {
  margin-left: 1vw;
}

.ft-lbl {
  color: darkgrey;
  display: flex;
  margin-left: 2rem;
}

.era {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indias-biggest-drone12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem gray;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.indias-biggest-drone12 h2 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Bruno Ace SC";
}

.era-p {
  font-size: 1.3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
  font-family: "Bruno Ace SC";
  font-weight: 200;
}

.join-btn {
  height: 2.5rem;
  width: 6.5rem;
  border-radius: 0.5rem;
  background-color: #ffc107;
  border: none;
  font-weight: 700;
  /* font-family: Arial, Helvetica, sans-serif; */
}
/* .join-btn:hover{
  transform: translateX(4px );
} */
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 0.5em #ffe390;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
#copy {
  color: darkgrey;
}

.previous11 {
  margin-bottom: 4rem;
}

.home_gif {
  height: 80vh;
  width: 100vw;
  display: inline;
}
