@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Lilita+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  position: relative;
}

.webName {
  margin-right: 20vw;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: "Kaushan Script", cursive;
}

.navbar-nav {
  margin-left: 22vw;
  font-family: "Fjalla One", sans-serif;
}

.carousel-inner {
  height: 60vh;
}

.item,
.carimg {
  height: 100% !important;
  width: 100% !important;
  border: 1px solid red;
}

.carimg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 40rem;
  margin: 0 auto;
}

.carousel-caption {
  display: inline-block;
  position: relative;
  min-width: 100%;
  height: 40rem;
  margin: 0 auto;
  z-index: 8;
  /* transform: translate(-50%, -50%); */
  transform: translateX(-15%);
  font-weight: 400;
}

.carbut {
  height: 5vh;
  width: 12vw;
  border-radius: 10px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
}

button:hover {
  transform: scale(1.1);
}

.heading {
  font-size: 25px;
  position: relative;
  top: 5vh;
}

.services {
  display: inline-flex;
  height: 40vh;
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 10vh;
}
.services img {
  height: 20vh;
}

.serbut {
  height: 5vh;
  width: 10vw;
  border-radius: 10px;
  border: 3px solid rgb(102, 102, 168);
  background-color: white;
  position: relative;
  top: -3vh;
  left: 18%;
}

.serbut a {
  text-decoration: none;
}

.industrial {
  position: relative;
  top: 20vh;
  bottom: 20vh;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.industrial-solutions {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.left-industrial-inner {
  margin: 3rem;
}
.fa:hover {
  transform: scale(2);
}
.ind-item p {
  margin-top: 2rem;
}
.ind-item i {
  position: relative;
  left: 2vw;
  transform: scale(2);
}

.card:hover {
  transform: scale(1.2);
}

footer {
  margin-top: 5vh;
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-card{
    margin-inline: 1rem;
}

footer a{
    text-decoration: none;
}

.spon-soci{
    display: flex;
    flex-direction: column-reverse;
}

.fa{
    margin-inline: 0.3rem;
}
